#connexion {
    margin: auto;
    max-width: 40%;
    border: thick double rgb(87, 9, 9);
}

#inscription {
    margin: auto;
    max-width: 55%;
    border: thick double rgb(87, 9, 9);

}
#espace_acheteur {
    margin: auto;
    max-width: 55%;
    border: thick double rgb(87, 9, 9);
}
#fiche_vendeur {
    margin: auto;
    max-width: 55%;
    border: thick double rgb(87, 9, 9);
}


.container-fluid {
    width: 100%;
}

.navbar {
    background: rgb(87, 9, 9);
}

.nav-link, .navbar-brand {
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: red;
}

.navbar-collapse {
    justify-content: flex-end;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.Img_Cat{
    vertical-align: center;
}
/*page d'accueil*/


.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0px;
    top: 143px;
    background-color: rgba(87, 83, 83, 0.4);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}
@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
    .description h1 {
        font-size: 2em;
    }
    .description p {
        font-size: 1.2rem;
    }
    .features {
        margin: 0;
    }
    .dropdown-submenu {
        position: relative;
        
    }
    .navbar_Dropdown{
        background: white;
    }
    
    
    

}
/*Fin page d'accueil*/
